header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-bottom: 3px solid #e6e6e6;
	margin-bottom: 5rem;
}
.userInfo {
	display: flex;
	.userIcon {
		width: 60px;
		height: 100%;
		border-radius: 50%;
		padding: 0.5rem;
		background-color: #e6e6e6;
		margin-right: 0.5rem;
	}
	.name {
		font-size: 3rem;
	}
	.email {
		font-size: 1.8rem;
	}
}

.navBtn {
	display: inline-block;
	text-decoration: underline;
	margin: 1rem 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
}
